* {
  margin: 0;
  padding: 0
}

body {
  border: 3px rgb(0, 234, 255) solid;
  width: 100vw;
  background-color: black;
  box-sizing: border-box;
}

header {
  border: 3px red solid;
  display: flex;
  width: 100%;
  height: auto;
  padding: 30px 70px;
  box-sizing: border-box;
}

.header_content {
  border: 3px rgb(87, 29, 202) solid;
  display: flex;
  width: 100%;
}

.header_content_menu {
  width: 15%;
  border: 3px rgb(187, 218, 12) solid;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

.header_content_logo {
  border: 3px rgb(2, 185, 14) solid;
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
}
.header_content_vacio{
  border: 3px rgb(211, 0, 0) solid;
  width: 15%;
}

.header_content_logo img {
  display: flex;
  width: 180px;
}